[Bb]uild/
[Bb]ackup/
[Ww]in32/
[Ww]in64/

.clang_complete
.dir-locals.el
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
